#igual {
  width: 85px;
  height: 40px;
  text-align: center;
  margin-top: 5px
}

#punto, #cero, #punto, #uno, #dos, #tres, #suma,
#cuatro, #cinco, #seis, #siete, #resta, #ocho, #nueve,
#multiplicar
 {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 5px;
}

#porcentaje {
  width: 40px;
  height: 40px;
  text-align: center;
}

#reseteo {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 5px
}
#dividir {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 5px
}

#borrar {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 5px
}


#caja1 {
  background-color: blue;
}

#myForm {
  margin: 5rem;
  border-radius: 1rem;
  background-color: rgb(51, 46, 54);
  width: 18rem;
  padding: 56px;
}

#resultado {
  width: 11rem;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: right;
  background: rgb(22, 173, 128);
  border-color: cornsilk;
}


#tuerca1 {
  width: 50px;
  position: absolute;
  margin-left: 100px;
  margin-top: 10px; 
}

#tuerca2 {
  width: 50px;
  position: absolute;
  margin-left: 100px;
  margin-top: 408px; 
}

#tuerca3 {
  width: 50px;
  position: absolute;
  margin-left: 330px;
  margin-top: 10px; 
}

#tuerca4 {
  width: 50px;
  position: absolute;
  margin-left: 330px;
  margin-top:  408px; 
}



